/.env.local
/var/
/vendor/

/bin/
!/bin/console

/resources/docker/local/mysql/volume_mappings.yml
/resources/docker/local/mongodb/volume_mappings.yml

/.php-cs-fixer.php
/.php-cs-fixer.cache

phpstan.neon

/.phpcs-cache
/phpcs.xml

.phpunit.result.cache
/phpunit.xml

/coverage/
